{% extends 'base.html' %}
{% load static %}

{% block body %}


<div class="page-wrapper">

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-7 align-self-center">
                <h2 class="page-title text-truncate text-dark font-weight-medium mb-1">Welcome</h2>
                <div class="d-flex align-items-center">

                </div>
            </div>
            <div class="col-5 align-self-center">

            </div>
        </div>
    </div>

    <div class="container-fluid">

        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Login</h3>
                    {% if messages %}
                    {% for message in messages %}
                    {% if message.tags == 'error' %}
                    <div class="mt-4 alert alert-danger" role="alert">
                        <i class="dripicons-wrong mr-2"></i>
                        {{message}}
                    </div>
                    {% else %}
                    <div class="mt-4 alert alert-success" role="alert">
                        <i class="dripicons-checkmark mr-2"></i>
                        {{message}}
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}

                    <form action="{% url 'login' %}" method="post" class="mt-2">
                        {% csrf_token %}
                        <div class="col-12 ">
                            <div class="card">
                                <div class="card-body">

                                    <div class="form-group row">
                                        <label for="inputHorizontalSuccess"
                                            class="col-2 col-form-label">Username</label>
                                        <div class="col-5">
                                            <input type="text" name="username" class="form-control " placeholder="Username">
                                        </div>

                                    </div>
                                    <div class="form-group row">

                                        <label for="inputHorizontalSuccess"
                                            class="col-2 col-form-label">Password</label>
                                        <div class="col-5">
                                            <input type="password" name="password" class="form-control " placeholder="Password">
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary"><i class=" fas fa-sign-in-alt"></i>
                                        Login</button>

                                    <div class="col-12 text-center mt-2">
                                        Don't have an account? <a href="{% url 'signup' %}" class="text-danger">Register here</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>




    </div>




    {% endblock %}